{%extends 'base.html'%}
{%block title%}Cotizar{%endblock%}
{%block header%}
<h1>CONDOSA - Cotizar</h1>
{%endblock%}
{%block content%}



<script>
    // Define las restricciones para los numeros enteros
    var numeros = /[^0-9]/g;
    // Define las restricciones para los números decimales
    var numerosd = /[^0-9.]/g;
    // Define las restricciones para los nombres, apellidos y nombre de predio
    var nombres = /[^A-Za-zñÑáéíóúÁÉÍÓÚ\s]+/g;
    //Define las restricciones del correo
    var correo = /^[@.\s]+/;

    // Función de validación del documento de identidad
    function validarDocumento() {
        let input = document.getElementById("documento");
        let valor = input.value;

        // Eliminar caracteres no válidos (excepto números)
        valor = valor.replace(numeros, "");

        // Limitar a 8 caracteres
        valor = valor.slice(0, 8);

        // Actualizar el valor del campo
        input.value = valor;
    }

    // Función de validación del apellido
    function validarApellido() {
        let input = document.getElementById("apellidos");
        let valor = input.value;

        // Eliminar caracteres no válidos (excepto letras y espacios)
        valor = valor.replace(nombres, "");

        // Actualizar el valor del campo
        input.value = valor;
    }

    // Función de validación del nombre
    function validarNombre() {
        let input = document.getElementById("nombres");
        let valor = input.value;

        // Eliminar caracteres no válidos (excepto letras y espacios)
        valor = valor.replace(nombres, "");

        // Actualizar el valor del campo
        input.value = valor;
    }

    // Función de validación del nombre del predio
    function validarNombrePredio() {
        let input = document.getElementById("predio");
        let valor = input.value;

        // Eliminar caracteres no válidos (excepto letras y espacios)
        valor = valor.replace(nombres, "");

        // Actualizar el valor del campo
        input.value = valor;
    }

    // Función de validación del teléfono
    function validarTelefono() {
        let input = document.getElementById("telefono");
        let valor = input.value;

        // Eliminar caracteres no válidos (excepto números)
        valor = valor.replace(numeros, "");

        // Limitar a 9 caracteres
        valor = valor.slice(0, 9);

        // Asegurar que el primer dígito sea 9
        if (valor.length > 0 && valor.charAt(0) !== "9") {
            valor = "9" + valor.slice(1);
        }

        // Actualizar el valor del campo
        input.value = valor;
    }


    // Función de validación del correo
    function validarCorreo() {
        let correo = document.getElementById("correo");
        let valor = correo.value;


        // Reemplazar "@" por un vacío al inicio del valor
        valor = valor.replace(correo, "");
        // Verificar si hay un punto "." después del símbolo "@"
        const indiceArroba = valor.indexOf("@");
        const indicePunto = valor.indexOf(".", indiceArroba + 1);
        if (indicePunto === indiceArroba + 1) {
            // Si hay un punto "." inmediatamente después del "@", eliminarlo
            valor = valor.slice(0, indicePunto) + valor.slice(indicePunto + 1);
        }

        // Actualizar el valor del campo
        correo.value = valor;
    }
    // Función de validación del área
    function validarArea() {
        let input = document.getElementById("area");
        let valor = input.value;

        // Eliminar caracteres no válidos (excepto números y el punto decimal)
        valor = valor.replace(/[^0-9.]/g, "");
        // Eliminar puntos adicionales al inicio del valor
        valor = valor.replace(/^\.+/, "");
        // Verificar si hay más de un punto decimal
        if ((valor.match(/\./g) || []).length > 1) {
            // Si hay más de un punto decimal, eliminar el último
            valor = valor.slice(0, valor.lastIndexOf("."));
        }

        // Actualizar el valor del campo
        input.value = valor;
    }

    function validarPersonalLimpieza() {
        let input = document.getElementById("limpieza");
        let valor = input.value;

        // Eliminar caracteres no válidos (excepto números)
        valor = valor.replace(numeros, "");

        // Actualizar el valor del campo
        input.value = valor;
    }

    function validarNroPuertasAcceso() {
        let input = document.getElementById("NroPuertasAcceso");
        let valor = input.value;

        // Eliminar caracteres no válidos (excepto números)
        valor = valor.replace(numeros, "");

        // Actualizar el valor del campo
        input.value = valor;
    }

    function validarNroBloques() {
        let input = document.getElementById("NroHabitaciones");
        let valor = input.value;

        // Eliminar caracteres no válidos (excepto números)
        valor = valor.replace(numeros, "");

        // Actualizar el valor del campo
        input.value = valor;
    }
</script>




<form action="/cotizar/new" method="POST" class="form__section" id="cotizar__form">
    <h2 class="title__form">Cotización</h2>
    <div class="cuadro__form">
        <div class="cuadro">
            <h3>Datos del representante</h3>
            <label for="documento">Documento de identidad:</label>
            <input type="text" id="documento" name="documento" pattern="[0-9]{8}" required oninput="validarDocumento()">


            <label for="apellidos">Apellidos:</label>
            <input type="text" id="apellidos" name="apellidos" pattern="^[A-Za-zñÑáéíóúÁÉÍÓÚ\s]+$" required
                oninput="validarApellido()">


            <label for="nombres">Nombres:</label>
            <input type="text" id="nombres" name="nombres" pattern="^[A-Za-zñÑáéíóúÁÉÍÓÚ\s]+$" required
                oninput="validarNombre()">

            <label for="predio">Nombre del predio:</label>
            <input type="text" id="predio" name="predio" pattern="^[A-Za-zñÑáéíóúÁÉÍÓÚ\s]+$" required
                oninput="validarNombrePredio()">

            <label for="telefono">Teléfono:</label>
            <input type="text" id="telefono" name="telefono" pattern="9[0-9]{8}" required oninput="validarTelefono()">

            <label for="correo">Correo:</label>
            <input type="text" id="correo" name="correo" pattern="^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[c][o][m]$"
                required oninput="validarCorreo()">
        </div>

        <div class="cuadro">
            <h3>Datos del predio</h3>
            <label for="area">Área:</label>
            <input type="text" id="area" name="area" pattern="[0-9]+(\.[0-9]+)?" required oninput="validarArea()">

            <label for="areascomunes">Áreas comunes:</label>
            <input type="text" id="areascomunes" name="areascomunes">

            <label for="NroPuertasAcceso">Nro Puertas de acceso:</label>
            <input type="text" id="NroPuertasAcceso" name="NroPuertasAcceso" pattern="[0-9]+" required oninput="validarNroPuertasAcceso()">

            <label for="NroHabitaciones">Nro de Habitaciones:</label>
            <input type="text" id="NroHabitaciones" name="NroHabitaciones" pattern="[0-9]+" required oninput="validarNroBloques()">
        </div>
        <div class="cuadro">
            <h3>Cotizar personal</h3>
            <label for="limpieza">Personal de limpieza:</label>
            <input type="text" id="limpieza" name="limpieza" pattern="[0-9]+" required oninput="validarPersonalLimpieza()">

            <label for="vigilante">Vigilante:</label>
            <input type="text" id="vigilante" name="vigilante" readonly onmousedown="return false;">

            <label for="administrador">Administrador:</label>
            <input type="text" id="administrador" name="administrador" value="1" readonly onmousedown="return false;">

            <label for="total">Total cotizado:</label>
            <input type="text" id="total" name="total" readonly onmousedown="return false;">
        </div>


    </div>

    <button type="submit" class="button__form" form="cotizar__form">Aceptar cotización y contratar</button>
</form>

<script>
    var nroPuertasAccesoInput = document.getElementById("NroPuertasAcceso");
    var personalLimpiezaInput = document.getElementById("limpieza");
    var vigilanteInput = document.getElementById("vigilante");
    var administradorInput = document.getElementById("administrador");
    var totalCotizadoInput = document.getElementById("total");

    function actualizarVigilante() {
        var nroPuertasAcceso = parseInt(nroPuertasAccesoInput.value);
        var vigilanteValue = nroPuertasAcceso * 2 || 0;
        vigilanteInput.value = vigilanteValue;

        calcularTotalCotizado();
    }

    function calcularTotalCotizado() {
        var personalLimpieza = parseInt(personalLimpiezaInput.value) || 0;
        var vigilante = parseInt(vigilanteInput.value) || 0;
        var administrador = parseInt(administradorInput.value) || 0;

        var totalCotizado = (personalLimpieza + vigilante + administrador) * 100;
        totalCotizadoInput.value = totalCotizado;
    }

    nroPuertasAccesoInput.addEventListener("input", actualizarVigilante);
    personalLimpiezaInput.addEventListener("input", calcularTotalCotizado);
    vigilanteInput.addEventListener("input", calcularTotalCotizado);
    administradorInput.addEventListener("input", calcularTotalCotizado);

</script>
{%endblock%}