{% extends 'base-user.html' %}
{% block title %}Cotizaciones{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="{{url_for('static',filename='css/components/cotizaciones.css')}}">

<div class="content-cuadro">
    <div class="cuadro">
        <h1 class="title is-2">Cotizaciones</h1>

        <!-- Pestañas -->
        <div class="tabs">
            <ul>
                <li class="is-active">
                    <a id="pendientes-tab" class="is-active" onclick="mostrarTabla('pendientes')">Cotizaciones
                        Pendientes</a>
                </li>
                <li>
                    <a id="completadas-tab" onclick="mostrarTabla('completadas')">Cotizaciones Completadas</a>
                </li>
            </ul>
        </div>

        <!-- Tabla de Cotizaciones Pendientes -->
        <div id="tabla-pendientes" class="tabla-cotizaciones">
            <h2 class="title is-4">Cotizaciones Pendientes</h2>
            <table class="table is-fullwidth table-success table-striped">
                <thead>
                    <tr>
                        <th>ID Solicitud</th>
                        <th>Predio</th>
                        <th>Solicitante</th>
                        <th>Servicio</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for solicitudp in cotizaciones_pendientes %}
                    <tr>
                        <td>{{ solicitudp.id_solicitud }}</td>
                        <td>{{ solicitudp.descripcion_predio }}</td>
                        <td>{{ solicitudp.nombre_solicitante }}</td>
                        <td>{{ solicitudp.descripcion_servicio }}</td>
                        <td>
                            <a href="{{ url_for('solicitud_cotizacion.cotizar', id_solicitud=solicitudp.id_solicitud, estado="Pendiente") }}" class="button is-link is-small" data-toggle="tooltip" title="Ver Detalles">
                                <span class="material-icons">
                                    visibility
                                </span>
                            </a>
                            <button class="button is-link is-small" data-toggle="tooltip" title="Cotizar"
                                onclick="mostrarPopup('popup-{{ solicitudp.id_solicitud }}')">
                                <span class="material-icons">
                                    monetization_on
                                </span>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Tabla de Cotizaciones Completadas -->
        <div id="tabla-completadas" class="tabla-cotizaciones" style="display: none;">
            <h2 class="title is-4">Cotizaciones Completadas</h2>
            <table class="table is-fullwidth table-success table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Personal</th>
                        <th>Fecha</th>
                        <th>Importe</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cotizacion in cotizaciones_completadas %}
                    <tr>
                        <td>{{ cotizacion.id_solicitud }}</td>
                        <td>{{ cotizacion.id_personal }}</td>
                        <td>{{ cotizacion.fecha_cotizacion }}</td>
                        <td>{{ cotizacion.importe }}</td>
                        <td>Completado</td>
                        <td>
                            <a href="{{ url_for('solicitud_cotizacion.cotizar', id_solicitud=cotizacion.id_solicitud, estado="Realizada") }}" class="button is-link is-small" data-toggle="tooltip" title="Ver Detalles">
                                <span class="material-icons">
                                    visibility
                                </span>
                            </a>
                            <form class="btn_download" action="{{ url_for('boleta.generar_pdf') }}" method="POST">
                                <button type="submit" class="button is-link is-small" data-toggle="tooltip" title="Descargar boleta">
                                    <input type="hidden" name="descargar__id_solicitud" value="{{ cotizacion.id_solicitud }}">
                                    <span class="material-icons">
                                        download
                                    </span>
                                </button>
                            </form>                            
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- Popup de Cotización -->
{% for solicitudp in cotizaciones_pendientes %}
<div id="popup-{{ solicitudp.id_solicitud }}" class="modal">
    <div class="modal-background" onclick="cerrarPopup('popup-{{ solicitudp.id_solicitud }}')"></div>
    <div class="modal-content">
        <div class="box">
            <button class="delete is-pulled-right"
                onclick="cerrarPopup('popup-{{ solicitudp.id_solicitud }}')"></button>
            <h2 class="title is-4">Cotización - {{ solicitudp.id_solicitud }}</h2>
            <!-- Aquí puedes agregar el contenido del formulario de cotización -->
            {% if solicitudp.id_servicio == 1 %}
            <div class="formulario-cotizacion">
                <h3 class="subtitle is-5">Cantidad de vigilantes</h3>
                <div class="field">
                    <label class="label">Cantidad : {{ solicitudp.cant_vigilantes}} </label>
                </div>
                <div class="field">
                    <label class="label">Importe</label>
                    <div class="control">
                        <input class="input" type="text" readonly value="{{ solicitudp.cant_vigilantes * 400}}">
                    </div>
                </div>


                <h3 class="subtitle is-5">Cantidad de Personal de limpieza</h3>
                <div class="field">
                    <label class="label">Cantidad : {{ solicitudp.cant_plimpieza}}</label>
                </div>
                <div class="field">
                    <label class="label">Importe</label>
                    <div class="control">
                        <input class="input" type="text" readonly value="{{ solicitudp.cant_plimpieza * 300}}">
                    </div>
                </div>

                <h3 class="subtitle is-5">Cantidad de administrador/es</h3>
                <div class="field">
                    <label class="label">Cantidad : {{ solicitudp.cant_administracion}}</label>
                </div>
                <div class="field">
                    <label class="label">Importe</label>
                    <div class="control">
                        <input class="input" type="text" readonly value="{{ solicitudp.cant_administracion* 500}} ">
                    </div>
                </div>

                <h3 class="subtitle is-5">Cantidad de jardineros</h3>
                <div class="field">
                    <label class="label">Cantidad : {{ solicitudp.cant_jardineria}}</label>
                </div>
                <div class="field">
                    <label class="label">Importe</label>
                    <div class="control">
                        <input class="input" type="text" readonly value="{{ solicitudp.cant_jardineria * 300}}">
                    </div>
                </div>

                <h3 class="subtitle is-5">Importe total:</h3>
                <div class="field">
                    <label class="label">Importe total</label>
                    <div class="control">
                        <input class="input" type="text" name="importe_totalAdmin" readonly value="{{(solicitudp.cant_jardineria * 300)+(solicitudp.cant_administracion* 500)+(solicitudp.cant_plimpieza * 300)+(solicitudp.cant_vigilantes * 400)}}" >
                    </div>
                </div>
            </div>
            {% elif solicitudp.id_servicio == 2 %}
            <div class="formulario-cotizacion">
                <h3 class="subtitle is-5">Cantidad de personal de limpieza</h3>
                <div class="field">
                    <label class="label">Cantidad : {{ solicitudp.cant_plimpieza}}</label>
                </div>
                <div class="field">
                    <label class="label">Importe</label>
                    <div class="control">
                        <input class="input" type="text" readonly name="importe_totalLimpieza" value="{{ solicitudp.cant_plimpieza * 300}}">
                    </div>
                </div>
            </div>
            {% elif solicitudp.id_servicio == 3 %}
            <div class="formulario-cotizacion">
                <h3 class="subtitle is-5">Cantidad de jardineros</h3>
                <div class="field">
                    <label class="label">Cantidad : {{ solicitudp.cant_jardineria}}</label>
                </div>
                <div class="field">
                    <label class="label">Importe</label>
                    <div class="control">
                        <input class="input" type="text" readonly name="importe_totalJardineria" value="{{ solicitudp.cant_jardineria * 300}}">
                    </div>
                </div>
            </div>
            {% elif solicitudp.id_servicio == 4 %}
            <div class="formulario-cotizacion">
                <h3 class="subtitle is-5">Cantidad de vigilantes</h3>
                <div class="field">
                    <label class="label">Cantidad : {{ solicitudp.cant_vigilantes}} </label>
                </div>
                <div class="field">
                    <label class="label">Importe</label>
                    <div class="control">
                        <input class="input" type="text" readonly name="importe_totalVigilantes" value="{{ solicitudp.cant_vigilantes * 400}}">
                    </div>
                </div>
            </div>
            {% endif %}

            <!-- Botones de Aceptar y Rechazar -->
            <div class="buttons button-container">
                <form action="{{ url_for('cotizaciones.aceptar') }}" method="POST">
                    <button type="submit" class="button is-link is-small"
                        style="margin-right: 10px; margin-top: 10px;">
                        <input type="hidden" name="aceptar__id_solicitud" value="{{ solicitudp.id_solicitud }}">
                        <span class="material-icons">
                            done
                        </span>
                        Aceptar
                    </button>
                </form>
                <form action="{{ url_for('cotizaciones.rechazar') }}" method="POST">
                    <button type="submit" class="button is-danger is-small"
                        style="margin-left: 10px; margin-top: 10px;">
                        <input type="hidden" name="rechazar__id_solicitud" value="{{ solicitudp.id_solicitud }}">
                        <span class="material-icons">
                            clear
                        </span>
                        Rechazar
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endfor %}



<script src="{{ url_for('static', filename='js/cotizaciones.js') }}"></script>

{% endblock %}