{%extends 'base.html'%}
{%block title%}Cotizar{%endblock%}
{%block header%}
<h1>CONDOSA - Cotizar</h1>
{%endblock%}
{%block content%}
<form action="/cotizar/new" method="POST" class="form__section" id="cotizar__form">
    <h2 class="title__form">Cotización</h2>
    <div class="cuadro__form">
        <div class="cuadro">
            <h3>Datos del representante</h3>
            <label for="documento">Documento de identidad:</label>
            <input type="text" id="documento" name="documento" pattern="[0-9]{8}" required oninput="validarDocumento()">


            <label for="apellidos">Apellidos:</label>
            <input type="text" id="apellidos" name="apellidos" pattern="^[A-Za-zñÑáéíóúÁÉÍÓÚ\s]+$" required
                oninput="validarApellido()">


            <label for="nombres">Nombres:</label>
            <input type="text" id="nombres" name="nombres" pattern="^[A-Za-zñÑáéíóúÁÉÍÓÚ\s]+$" required
                oninput="validarNombre()">

            <label for="predio">Nombre del predio:</label>
            <input type="text" id="predio" name="predio" pattern="^[A-Za-zñÑáéíóúÁÉÍÓÚ\s]+$" required
                oninput="validarNombrePredio()">

            <label for="telefono">Teléfono:</label>
            <input type="text" id="telefono" name="telefono" pattern="9[0-9]{8}" required oninput="validarTelefono()">

            <label for="correo">Correo:</label>
            <input type="text" id="correo" name="correo" pattern="^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[c][o][m]$"
                required oninput="validarCorreo()">
        </div>

        <div class="cuadro">
            <h3>Datos del predio</h3>
            <label for="area">Área:</label>
            <input type="text" id="area" name="area" pattern="[0-9]+(\.[0-9]+)?" required oninput="validarArea()">

            <label for="areascomunes">Áreas comunes:</label>
            <input type="text" id="areascomunes" name="areascomunes">

            <label for="NroPuertasAcceso">Nro Puertas de acceso:</label>
            <input type="text" id="NroPuertasAcceso" name="NroPuertasAcceso" pattern="[0-9]+" required oninput="validarNroPuertasAcceso()">

            <label for="NroHabitaciones">Nro de Habitaciones:</label>
            <input type="text" id="NroHabitaciones" name="NroHabitaciones" pattern="[0-9]+" required oninput="validarNroBloques()">
        </div>
        <div class="cuadro">
            <h3>Cotizar personal</h3>
            <label for="limpieza">Personal de limpieza:</label>
            <input type="text" id="limpieza" name="limpieza" pattern="[0-9]+" required oninput="validarPersonalLimpieza()">

            <label for="vigilante">Vigilante:</label>
            <input type="text" id="vigilante" name="vigilante" readonly onmousedown="return false;">

            <label for="administrador">Administrador:</label>
            <input type="text" id="administrador" name="administrador" value="1" readonly onmousedown="return false;">

            <label for="total">Total cotizado:</label>
            <input type="text" id="total" name="total" readonly onmousedown="return false;">
        </div>
    </div>

    <button type="submit" class="button__form" form="cotizar__form">Aceptar cotización y contratar</button>
</form>

<script src="{{ url_for('static', filename='js/validacionesForm.js') }}"></script>

{%endblock%}