{%extends 'base.html'%}
{%block title%}Cotizar{%endblock%}
{%block header%}
    <h1>CONDOSA - Actualizar Predio</h1>
{%endblock%}
{%block content%}
        <form action="{{url_for('vista.update_predio', id_predio=predio.id_predio)}}" method="POST" id="update-predio__form">
            <h2 class="title__form">Actualizar predio</h2>
            <div  class="cuadro__form">
                <div class="cuadro">
                    <h3>Datos del predio</h3>
                    <label for="update_area">Área:</label>
                    <input type="text" id="update_area" name="update_area">
                    
                    <label for="update_areascomunes">Áreas comunes:</label>
                    <input type="text" id="update_areascomunes" name="update_areascomunes">
                    
                    <label for="update_NroPuertasAcceso">Nro Puertas de acceso:</label>
                    <input type="text" id="update_NroPuertasAcceso" name="update_NroPuertasAcceso">
                    
                    <label for="update_NroHabitaciones">Nro de Habitaciones:</label>
                    <input type="text" id="update_NroHabitaciones" name="update_NroHabitaciones">
                </div>
            </div>
            <button type="submit" class="button__form" form="update-predio__form">Guardar datos</button>
        </form>
{%endblock%}